LIST : EXERCISE Q1

In [1]:
list1 = [5,10,15,20,25]
print(list1)

[5, 10, 15, 20, 25]

EXERCISE Q2

In [15]:
list1 = [5,10,15,20,25]
list1.extend([30,35,40])
print(list1)

[5, 10, 15, 20, 25, 30, 35, 40]

EXERCISE Q3

In [23]:
list1 = [5,10,15,20,25]
print("list1 elements are:-")
for i in list1:
    print(i)

list1 elements are:-
5
10
15
20
25

DICTIONARY : EXERCISE Q1

In [29]:
my_dictionary = {
    'name' : 'John',
    'age' : 25,
    'address' : 'New York'
}
print(my_dictionary)

{'name': 'John', 'age': 25, 'address': 'New York'}

EXERCISE Q2

In [33]:
my_dictionary = {
    'name' : 'John',
    'age' : 25,
    'address' : 'New York'
}
my_dictionary.update({'phone' : 1234567890})

print(my_dictionary)

{'name': 'John', 'age': 25, 'address': 'New York', 'phone': 1234567890}

SET : EXERCISE Q1

In [35]:
set_1 = {1,2,3,4,5}
print(set_1)

{1, 2, 3, 4, 5}

EXERCISE Q2

In [37]:
set_1 = {1,2,3,4,5}
set_1.add(6)
print(set_1)

{1, 2, 3, 4, 5, 6}

EXERCISE Q3

In [39]:
set_1 = {1,2,3,4,5}
set_1.remove(3)
print(set_1)

{1, 2, 4, 5}

TUPLE : EXERCISE Q1

In [41]:
tuple_1 = (1,2,3,4)
print(tuple_1)

(1, 2, 3, 4)

EXERCISE Q2

In [43]:
tuple_1 = (1,2,3,4)
print(len(tuple_1))

4