In [ ]:
EXERCISE 1

In [1]:
months = {
    1: "January", 2: "February", 3: "March", 4: "April", 5: "May", 6: "June",
    7: "July", 8: "August", 9: "September", 10: "October", 11: "November", 12: "December"
}

month_number = int(input("Enter the month: "))

if month_number in range(1,13):
     print(f"Month {month_number} is {months[month_number]}")
else:
    print("Invalid input! Please enter a number between 1 and 12.")

Enter the month:  3

Month 3 is March

EXERCISE 2

In [9]:
full_price = 6

age = int(input("Enter your age: "))

if age < 16:
    ticket_price = full_price / 2 
elif age >= 60:
    ticket_price = full_price / 3 
else:
    ticket_price = full_price  

print(f"Your ticket costs {ticket_price:.2f} pounds")

Enter your age:  63

Your ticket costs 2.00 pounds

EXERCISE 3

In [13]:
weight = float(input(f"Enter your weight in (kg): ")) 
height = float(input(f"Enter your height in (m): "))
BMI = weight/(height ** 2)

print(f"Your BMI is: {BMI:.2f}") 

if BMI < 18.5:
    status = "Underweight"
elif BMI >= 18.5 and BMI <= 24.9:
    status = "Normal"
elif BMI >= 25 and BMI <= 29.9:
    status = "Overweight"
elif BMI >= 30:
    status = "Obese"

print(f"You are in the {status} range")

Enter your weight in (kg):  75
Enter your height in (m):  1.70

Your BMI is: 25.95
You are in the Overweight range

EXERCISE 4

In [15]:
num1 = input("Enter the first number: ")
num2 = input("Enter the second number: ")
num3 = input("Enter the third number: ")

if num1 > num2 and num1 > num3:
    print(f"{num1} is greatest among the three numbers")
elif num2 > num1 and num2 > num3:
    print(f"{num2} is greatest among the three numbers")
else:
    print(f"{num3} is greatest among the three numbers")

Enter the first number:  15
Enter the second number:  10
Enter the third number:  25

25 is greatest among three numbers

EXERCISE 5

In [20]:
num = int(input("Enter the number for which you want to find the factorial: "))
fact = 1

for i in range(1, num+1):
    fact *= i

print(f"{num}! is {fact}.")

Enter the number for which you want to find the factorial:  5

5! is 120.

EXERCISE 6

In [24]:
num = int(input("Enter the number you want to reverse: "))
reversed_num = 0

while num > 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num = num // 10

print(f"Reversed number is {reversed_num}.")

Enter the number you want to reverse:  123

Reversed number is 321.

EXERCISE 7

In [32]:
num = int(input("Enter a number: "))
list = []

for i in range(1, num+1):
    if num%i == 0:
        list.append(i)
print(f"The multiples of {num} are: " )
for i in list:
    print(i)

Enter a number:  50

The multiples of 50 are:
1
2
5
10
25
50

EXERCISE 8

In [34]:
while True:
    user_input = input(":")

    if user_input.lower() == "done":
        print("Done")
        break

    print(user_input)

: hello there

hello there

: finished

finished

: done

Done

EXERCISE 9

In [36]:
for i in range(1,11):

    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz

EXERCISE 10

In [44]:
for i in range(5,0,-1):
    for j in range(i,0,-1 ):
        print(j,end = " ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1